<div class="page">
    <div class="container">
        <h1>Sign Up</h1>
        <form [formGroup]="signupForm" (ngSubmit)="onLogin()" class="form-container">
            <div class="row">
                <label id="labels">Name</label>
                <input type="name" formControlName='name' />
            </div>
            <div class="row">
                <label id="labels">Age</label>
                <input type="age" formControlName='age' />
            </div>
            <div class="row">
                <label id="labels">Email</label>
                <input type="email" formControlName='email' />
            </div>
            <div class="row">
                <label id="labels">Password</label>
                <input type="password" formControlName="password" />
            </div>
            <button type="submit" class="btn">Create User</button>
        </form>
    </div>
</div>